<html>
<head>
  <title>RT Collection</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="navbar navbar-default">

  <!--固定メニュー-->
  <div class="navbar-header">
    
    <!--レスポンシブデザイン使用時の線 -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!--タイトル -->
    <a class="navbar-brand">RT Collection</a>
    
  </div>
  
  <!-- レスポンシブデザイン使用するメニュー-->
  <div style="height: 1px;" class="navbar-collapse navbar-responsive-collapse collapse">

    <!-- ログインユーザ表示 -->
    <p class="navbar-text"><%=image_tag(session[:user_image],:size => "25x25")%> <%= session[:account_name]%></p>

    <!--右側 -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li><a href="/sessions/destroy">Logout</a></li>
    </ul>

  </div>
</div>



<!--メインエリア -->
<div class="container-fluid">
  <div class="row_fluid">

    <!-- サイドバー-->
    <div class="col-md-2 col-lg-2 col-sm-2" >
      <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
	<li><a href="/contents/rtline">RT  <span class="badge"><%=@badge%></span></a></li>
	<li class="active"><a href="#">RT ranking</a></li>
      </ul>
    </div>

    <!--メイン-->
    <div class="col-md-8 col-lg-8 col-sm-8" >
      
      <h1>ここにタイトル書きたい</h1>

      <div class="alert alert-dismissable alert-danger">
	<div class="media">
          <h1 class="pull-left text-primary">1位</h1>
          <div class="media-body">
	    <h2><%=image_tag(@rank[0]["image"],:size => "75x75")%> <%=@rank[0]["id"]%></h2>
	    <h5>リツイート回数: <%=@rank[0]["count"]%>回</h5>
	  </div>
	</div>
      </div>      

      <div class="alert alert-dismissable alert-warning">
	<div class="media">
          <h2 class="pull-left text-primary">2位</h2>
          <div class="media-body">
            <h3><%=image_tag(@rank[1]["image"],:size => "50x50")%> <%=@rank[1]["id"]%></h3>
            <h5>リツイート回数: <%=@rank[1]["count"]%>回</h5>
          </div>
	</div>
      </div>
      
      <div class="well">
        <div class="media">
          <h3 class="pull-left text-primary">3位</h3>
          <div class="media-body">
            <h4><%=image_tag(@rank[2]["image"],:size => "25x25")%> <%=@rank[2]["id"]%></h4>
            <h6>リツイート回数: <%=@rank[2]["count"]%>回</h6>
          </div>
	</div>
      </div>
      
    </div>
    
  </div>
</div>







</body>
</html>

